# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Task1/x64/Debug
/Task1/AdventOfCode2023Task1/x64/Debug
/.vs
/Task1/.vs/AdventOfCode2023Task1/FileContentIndex
/Task1/.vs/AdventOfCode2023Task1/v17
