# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Task1/x64
/Task1/AdventOfCode2023Task1/x64
/.vs
/Task1/.vs/AdventOfCode2023Task1/FileContentIndex
/Task1/.vs/AdventOfCode2023Task1/v17
/Task2/AdventOfCode2023Task2/x64/Debug
/Task2/x64/Debug
/Task2/.vs/AdventOfCode2023Task2/FileContentIndex
/Task2/.vs/AdventOfCode2023Task2/v17
/Task2/AdventOfCode2023Task2/Debug
/Task2/Debug
/Task3/.vs/AdventOfCode2023Task3/FileContentIndex
/Task3/.vs/AdventOfCode2023Task3/v17/ipch/AutoPCH/65adb37e3352f57b
/Task3/AdventOfCode2023Task3/x64/Debug
/Task3/.vs/AdventOfCode2023Task3/v17
/Task3/x64/Debug
/Task4/.vs/AdventOfCode2023Task4
/Task4/AdventOfCode2023Task4/x64/Debug
/Task4/x64/Debug
/Task5/.vs/AdventOfCode2023Task5
/Task5/AdventOfCode2023Task5/x64/Debug
/Task5/x64/Debug
/Task6/.vs/AdventOfCode2023Task6
/Task6/AdventOfCode2023Task6/x64/Debug
/Task6/x64/Debug
/Task9/.vs/AdventOfCode2023Task9
/Task9/AdventOfCode2023Task9/x64/Debug
/Task9/x64/Debug
/AdventOfCode2023Task8/.vs/AdventOfCode2023Task8
/AdventOfCode2023Task8/AdventOfCode2023Task8/x64/Debug
/AdventOfCode2023Task8/x64/Debug
/Task7/.vs/AdventOfCode2023Task7
/Task7/AdventOfCode2023Task7/x64/Debug
/Task7/x64/Debug
/Task8/AdventOfCode2023Task8/x64/Debug
/Task8/.vs/AdventOfCode2023Task8
/Task8/x64/Debug
/AdventOfCode2023Task10/.vs/AdventOfCode2023Task10
/AdventOfCode2023Task10/AdventOfCode2023Task10/x64
/AdventOfCode2023Task10/x64
/Task10/.vs/AdventOfCode2023Task10
/Task10/AdventOfCode2023Task10/x64
/Task10/x64
/AdventOfCode2023Task12/.vs/AdventOfCode2023Task12
/Task11/.vs/AdventOfCode2023Task11
/Task11/AdventOfCode2023Task11/x64/Debug
/Task11/x64/Debug
/AdventOfCode2023Task12/AdventOfCode2023Task12/x64/Debug
/AdventOfCode2023Task12/x64/Debug
/Task12/.vs/AdventOfCode2023Task12
/Task12/AdventOfCode2023Task12/x64/Debug
/Task12/x64/Debug
/Task11/Task11/x64/Debug
/Task13/.vs/AdventOfCode2023Task13
/Task13/AdventOfCode2023Task13/x64/Debug
/Task13/x64/Debug
/Task14/.vs/AdventOfCode2023Task14
/Task14/AdventOfCode2023Task14/x64/Debug
/Task14/x64/Debug
/Task15/.vs/AdventOfCode2023Task15
/Task15/AdventOfCode2023Task15/x64/Debug
/Task15/x64/Debug
/Task16/.vs/AdventOfCode2023Task16
/Task16/AdventOfCode2023Task16/x64
/Task16/x64
